*~
O.*
*.so
/bin/
/dbd/
/db/
/data/
/documentation/
/docs/html/
/docs/latex/
/lib/
/include/
.svn*
.idea
configure/*.local
top.txt

#Python compiled files
__pycache__/
*.py[cod]
*$py.class

#VSCode
/.vscode/

#Epics generated
envPaths*
cdCommands
dllPath.bat
*.out
